.name {
    color: #f62fad;
}
.hire{
    color: ali ceblue;
    background-color:#f62fad ;
} 
.vlog{
    width:43% ;
    margin: 20px;
    display:inline-block;
    margin-left: 38px;
    padding:20px;
    padding-left: 20px;
}
.vlog img{
    width: 450px;

}
.main{
    background-image: url("img/biography-bg.png");
    width: 100%;
    height: 100%;
}
.main2{
    background-image:url("img/biography-bg.png");
    margin-top:10px;
    height: 100%;
}

.pic {

    margin: 3%;
    width: 25%;
    
    
}
.last-work{
    margin-bottom: 100px;
}
.work{
    text-align: center;
}
.area{
    margin-top: 30px;
}
.last h1{
    text-align: center;
    padding-bottom: 30px;
}
.last p{
    text-align: center;
    
}
.last{
    margin: 10px;
}
.mail p{
    text-align: center;
    color: aliceblue;
    padding-top: 30pxpx;

}
.mail h3{
   text-align: center; 
   color: aliceblue;
}
.mail{
    text-align: center;
    border:solid 1px #141c08;
    border-radius: 10px;
    width: 500px;
    height: 100px;
    background-color: #f62fad;
    margin: auto;
}
